@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic); /*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*Крестик в поле input браузера IE отключен*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*Отступы кнопок браузера Firefox 0*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  font-family: "Roboto";
  font-size: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  max-width: 1076px;
}

.post__field__wrap {
  margin: 16px auto;
  max-width: 550px;
  height: auto;
  border-radius: 12px;
  border: 0.5px solid;
  transition: all 0.5s ease;
}
.post__field__wrap:focus {
  min-height: 81px;
}
.post__field__wrap .post__field {
  max-width: 550px;
  min-height: 52px;
}
.post__field__wrap .post__field .post__field__input {
  padding: 16px 20px;
  width: 100%;
  height: 52px;
  text-align: start;
  font-size: 14px;
  word-break: break-word;
  resize: none;
  overflow: hidden;
}
.post__field__wrap .post__field .value__item {
  display: flex;
  justify-content: space-between;
  margin: -18px 0 0 0;
  padding: 0 20px;
  font-size: 13px;
  color: #828282;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.post__field__wrap .post__field .value__item.js-active {
  opacity: 1;
  visibility: visible;
}
.post__field__wrap .post__field .value__item .textarea__value {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.post__field__wrap .post__field .value__item .textarea__value.js-active {
  opacity: 1;
  visibility: visible;
}
.post__field__wrap .post__field .post__field__textarea {
  padding: 16px 20px;
  width: 100%;
  height: 52px;
  text-align: start;
  font-size: 14px;
  word-break: break-word;
  resize: none;
  overflow: hidden;
}
.post__field__wrap .post__field .value__text {
  display: flex;
  justify-content: space-between;
  margin: -18px 0 0 0;
  padding: 0 20px;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.post__field__wrap .post__field .value__text.js-active {
  opacity: 1;
  visibility: visible;
}
.post__field__wrap .post__field .value__text .textarea__value {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.post__field__wrap .post__field .value__text .textarea__value.js-active {
  opacity: 1;
  visibility: visible;
}
.post__field__wrap .post__field .post__submit {
  padding: 12px 20px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid;
}
.post__field__wrap .post__field .post__submit .del__post__btn,
.post__field__wrap .post__field .post__submit .add__post__btn {
  width: 118.91px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.wall__wrap {
  margin: 16px auto;
  max-width: 550px;
  height: auto;
  border-radius: 12px;
  border: 0.5px solid;
}
.wall__wrap .wall__title {
  padding: 12px 20px;
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 0.5px solid;
}
.wall__wrap .wallposts {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wall__wrap .wallposts:last-child::after {
  background-color: transparent;
}
.wall__wrap .wallposts .post {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.wall__wrap .wallposts .post p {
  width: 100%;
  word-wrap: break-word;
}
.wall__wrap .wallposts .post .post__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wall__wrap .wallposts .post .post__header .post__data {
  order: 2;
  width: 35%;
  display: flex;
  column-gap: 10px;
  font-size: 13px;
  font-weight: 400;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.wall__wrap .wallposts .post .post__header .post__data .post__day {
  text-align: right;
}
.wall__wrap .wallposts .post .post__header .post__title {
  order: 1;
  width: 65%;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}
.wall__wrap .wallposts .post .post__header .post__title::first-letter {
  text-transform: uppercase;
}
.wall__wrap .wallposts .post .post__body {
  font-size: 14px;
}
.wall__wrap .wallposts .post .post__body::first-letter {
  text-transform: uppercase;
}
.wall__wrap .wallposts .post::after {
  content: "";
  width: 100%;
  height: 1px;
  position: relative;
  bottom: 0;
  left: 0;
}
.wall__wrap .wallposts .wallposts__noposts {
  padding: 36px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wall__wrap .wallposts .wallposts__noposts .noposts__text {
  margin: 16px 0 0 0;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
  }
  body .post__field__wrap {
    background: #dedede;
    border-color: #abadad;
  }
  body .post__field__wrap .post__field .post__field__input {
    background: inherit;
    color: rgb(0, 0, 0);
  }
  body .post__field__wrap .post__field .post__field__input ::-webkit-input-placeholder {
    color: #212121;
  }
  body .post__field__wrap .post__field .post__field__input ::-moz-placeholder {
    color: #212121;
  }
  body .post__field__wrap .post__field .post__field__textarea {
    background: inherit;
    color: rgb(0, 0, 0);
  }
  body .post__field__wrap .post__field .post__submit {
    border-top-color: #adabab;
  }
  body .post__field__wrap .post__field .post__submit .del__post__btn,
  body .post__field__wrap .post__field .post__submit .add__post__btn {
    background: #bebebe;
  }
  body .post__field__wrap .post__field .post__submit .del__post__btn:hover,
  body .post__field__wrap .post__field .post__submit .add__post__btn:hover {
    color: #bebebe;
    background: rgb(58, 58, 58);
  }
  body .wall__wrap {
    background: #dedede;
    border-color: #adabab;
  }
  body .wall__wrap .wall__title {
    color: #828282;
    border-bottom-color: #adabab;
  }
  body .wall__wrap .wallposts {
    color: #000;
  }
  body .wall__wrap .wallposts .post::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgb(173, 171, 171) 50%, rgba(255, 255, 255, 0) 85%);
  }
  body .wall__wrap .wallposts .post .post__data {
    color: #828282;
  }
  body .wall__wrap .wallposts .post .post__title {
    color: #828282;
  }
  body .wall__wrap .wallposts .wallposts__noposts .noposts__text {
    color: #3f3f3f;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
  }
  body .post__field__wrap {
    background: #212121;
    border-color: #616161;
  }
  body .post__field__wrap .post__field .post__field__input {
    background: inherit;
    color: white;
  }
  body .post__field__wrap .post__field .post__field__textarea {
    background: inherit;
    color: white;
  }
  body .post__field__wrap .post__field .post__submit {
    border-top-color: #616161;
  }
  body .post__field__wrap .post__field .post__submit .del__post__btn,
  body .post__field__wrap .post__field .post__submit .add__post__btn {
    background: #919191;
    color: #000;
  }
  body .post__field__wrap .post__field .post__submit .del__post__btn:hover,
  body .post__field__wrap .post__field .post__submit .add__post__btn:hover {
    background: #5a5a5a;
    color: #000;
  }
  body .wall__wrap {
    background: #212121;
    border-color: #616161;
  }
  body .wall__wrap .wall__title {
    color: #dedede;
    border-bottom-color: #616161;
  }
  body .wall__wrap .wallposts {
    color: #adadad;
  }
  body .wall__wrap .wallposts .post::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(63, 63, 63) 50%, rgba(255, 255, 255, 0) 100%);
  }
  body .wall__wrap .wallposts .wallposts__noposts .noposts__text {
    color: #828282;
  }
}/*# sourceMappingURL=index.css.map */